.list-group-item {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Центрируем элементы по вертикали */
}

.list-group-item button {
    /* Стили для кнопок */
}


.btn-play {
    text-align: right;
    position: absolute;
    top: 0;
    right: 15px;
}
.bs5-tabs-container {
//background-color: #ddd;
}

.bs5-tabs-container h3 {
    margin-top: 0;
}

.bs5-badge {
//background-color: #777;
}

.bs5-tabs-left {
//margin-top: 3rem;
}

.bs5-tabs-left .nav-tabs {
    float: left;
    border-bottom: 0;
}

.bs5-tabs-left .nav-item {
    margin: 0;
}

.bs5-nav-link {
    margin-right: 15px;
    border: 0;
    border-radius: 0;
    font-size: 20px;
// background-color: #333;
    color: darkgray;
}

.bs5-nav-link:hover {
//background-color: #444;
    color: greenyellow;
}
.bs5-nav-link:focus {
//background-color: #444;
    color: greenyellow;
}

.bi {
    color: #fff;
    font-size: 1.5rem;
}

.bs5-nav-link.active .bi {
    color: #333;
}

.bs5-tab-content {
    margin-left: 45px;
}

.bs5-tab-pane {
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
}

.bs5-list-group {
    width: 100%;
}

.bs5-list-group-item {
    height: 50px;
}

.bs5-list-group-item h4, .bs5-list-group-item span {
    line-height: 11px;
}


/* CARD BODY */

.gray-link
{
    color: #808080;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px!important;
}

.menu-wrapper
{
    position: fixed;
    top: -5px;
    right: 15px;
}
.blue-link
{
    color: deepskyblue;
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px!important;
}

.container {

    flex-direction: column;
    height: 100vh;
}

.fullpage-div {


}

/* keys  */
.keyboard-row {
    display: flex;
}
.kbc-button {
    flex-grow: 1;
    flex-basis: 0;
    margin: 2px;
    text-align: center !important;
    font-weight: bold !important; /* Делает текст жирным */
    display: flex; /* Используется для выравнивания текста по вертикали */
    align-items: center; /* Выравнивает текст по вертикали по центру кнопки */
    justify-content: center; /* Выравнивает текст по горизонтали по центру кнопки */
}

.modal-backdrop {
    background-color: transparent !important; /* Изменение фона на белый с некоторой прозрачностью */
}

body, html, .app {
    user-select: none;
}